<!doctype html>

<html lang="en">
<head>
  <h1>CSV Report Generator</h1>
  </head>

<body>

  <div id="input-block" style="height:300px; width:50%; border: thick solid black"> Input Your JSON Data Here
    <form action ="http://localhost:3000/" method="post">
      <input type="text" style="width:70%; margin-top:10px">
      <input class="submit-button" type="submit">
    </form>

  </div>
  <script src="app.js"></script>
</body>
</html>